@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(216 180 254);
}

::-webkit-scrollbar-thumb {
  background: #db71d1;
}

::-webkit-scrollbar-thumb:hover {
  background: #ee9393;
}
